@import 'tailwindcss';

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@theme inline {
  --color-leb: #4d248a;
  --color-lebSecond: #dbd3e8;
  --color-lebThird: #e3dfeb;
  --color-violet-100: #d4a0ff;
  --color-violet-200: #9e67ff;
  --color-violet-300: #5f2f99;
  --color-blackBackground: rgba(0, 0, 0, 0.2);
  --color-blackA-200: rgba(0, 0, 0, 0.2);
  --color-mauve-100: #e2d4ff;
  --color-mauve-200: #d1a7ff;
  --color-green-100: #a4ff8d;
  --color-green-200: #68b174;
  --color-gray-100: #e0e0e0;
  --color-gray-200: #b3b3b3;
}

@layer components {
  .input-text {
    @apply w-full px-3 py-2 border border-leb rounded-md bg-white text-gray-900 focus:outline-none focus:ring-2 focus:ring-leb focus:border-leb transition-colors duration-150;
  }

  .select-trigger {
    @apply whitespace-nowrap inline-flex self-start shrink-0 w-fit h-10 items-center justify-center gap-1.25 rounded-md bg-white px-3.75 text-[16px] leading-none shadow-md outline-none border-leb border hover:bg-lebSecond focus:ring-2 focus:ring-leb data-placeholder:text-black text-black;
  }

  .select-content {
    @apply overflow-hidden rounded-md bg-white shadow-lg;
  }

  .select-scroll-button {
    @apply flex h-6.25 cursor-default items-center justify-center bg-white text-violet-700;
  }

  .select-viewport {
    @apply p-1.25;
  }

  .select-label {
    @apply px-6.25 text-xs leading-6.25 text-gray-600;
  }

  .select-separator {
    @apply m-1.25 h-px bg-violet-200;
  }

  .select-item {
    @apply relative flex h-6.25 select-none items-center rounded-sm pl-6.25 pr-8.75 text-[13px] leading-none text-leb;
    @apply data-disabled:pointer-events-none;
    @apply data-disabled:text-gray-400;
    @apply data-highlighted:bg-leb;
    @apply data-highlighted:text-violet-50;
    @apply data-highlighted:outline-none;
  }

  .select-item-indicator {
    @apply absolute left-1 inline-flex w-3.75 items-center justify-center;
  }

  .no-hover {
    @apply hover:bg-white hover:text-black hover:shadow-md hover:border-leb;
  }

  .no-spinner {
    appearance: textfield;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

@layer utilities {
  .font-gov-serif {
    font-family: 'Times New Roman', Georgia, serif;
  }

  .font-gov-blackletter {
    font-family: 'Old English Text MT', 'Goudy Text MT', 'Times New Roman', serif;
  }

  .font-gov-board {
    font-family: 'Times New Roman', Georgia, serif;
  }

  @keyframes overlayShow {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes contentShow {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes overlayShowClose {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes contentShowClose {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  /* Apply animation to classes */
  [data-state='open'].animate-overlayShow {
    animation: overlayShow 1s cubic-bezier(0.16, 1, 0.3, 1);
  }

  [data-state='open'].animate-contentShow {
    animation: contentShow 1s cubic-bezier(0.16, 1, 0.3, 1);
  }

  @keyframes overlayHide {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes contentHide {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }


  [data-state='closed'].animate-overlayShow {
    animation: overlayHide 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }

  [data-state='closed'].animate-contentShow {
    animation: contentHide 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }
}
